VITE_FIREBASE_API_KEY=AIzaSyA9XRUsq4Nm5BebJJIEew7FMcvzDfRzLl0
VITE_FIREBASE_AUTH_DOMAIN=auction-e33d2.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://auction-e33d2-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=auction-e33d2
VITE_FIREBASE_STORAGE_BUCKET=auction-e33d2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=642058366731
VITE_FIREBASE_APP_ID=1:642058366731:web:87a361ff256bbff79f7c0e
VITE_FIREBASE_MEASUREMENT_ID=G-L95ZHDTMNM
